body, html  {
  height: 100%;
  margin: 0;
  background-image: url("https://media.istockphoto.com/id/1194214127/vector/sakura-cherry-blossom-pattern-seamless-japanese-background.jpg?s=612x612&w=0&k=20&c=gqVvuXAvWbfP9DXGCbXsBrBO3M1-hwVAv5YfHtAy8YA=%22);
  background-position: center;
}